<form [formGroup]="nuevoCursoForm" (submit)="enviarReactivo()"> 

  <div *ngIf="resultado">
    
  
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   <img  [src]="urlImgbb" height="100px">
  <!--
    <div *ngIf="!resultado">
      <img src="https://www.greatplacetowork.com.ar/templates/gptw/images/no-image-available.jpg" height="100px" >
    </div>  
    --> 
  </div>   
  <mat-label style="font-weight: bold;">  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Imagen Presentacion </mat-label><br>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="file"  accept="image/.jpeg,.png,.jpg" (change)="readThis($event)"  formControlName="url_imagen_presentacion"  required>
   
<br><br>
<br>


    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label> Nombre </mat-label>
      <input matInput formControlName="nombre"  required>
      <mat-error *ngIf="nuevoCursoForm.controls.nombre.touched && nuevoCursoForm.controls.nombre.invalid">
        <span *ngIf="nuevoCursoForm.controls.nombre.errors">Campo obligatorio</span>
      </mat-error>
    </mat-form-field>
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label> Descripcion </mat-label>
        <input matInput formControlName="descripcion" required>
        <mat-error *ngIf="nuevoCursoForm.controls.descripcion.touched && nuevoCursoForm.controls.descripcion.invalid">
          <span *ngIf="nuevoCursoForm.controls.descripcion.errors">Campo obligatorio</span>
        </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label> Publico Dirigido </mat-label>
        <input matInput formControlName="publico_destinado" required>
        <mat-error *ngIf="nuevoCursoForm.controls.publico_destinado.touched && nuevoCursoForm.controls.publico_destinado.invalid">
          <span *ngIf="nuevoCursoForm.controls.publico_destinado.errors">Campo obligatorio</span>
        </mat-error>
    </mat-form-field>
    
    &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label> Requisitos </mat-label>
        <input matInput formControlName="requisitos" required>
        <mat-error *ngIf="nuevoCursoForm.controls.requisitos.touched && nuevoCursoForm.controls.requisitos.invalid">
          <span *ngIf="nuevoCursoForm.controls.requisitos.errors">Campo obligatorio</span>
        </mat-error>
    </mat-form-field>
    
    <br>

    


    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label> Video Presentacion </mat-label>
        <input matInput formControlName="url_video_presentacion" required>
        <mat-error *ngIf="nuevoCursoForm.controls.url_video_presentacion.touched && nuevoCursoForm.controls.url_video_presentacion.invalid">
          <span *ngIf="nuevoCursoForm.controls.url_video_presentacion.errors">Campo obligatorio</span>
        </mat-error>
    </mat-form-field>
    
    

   <br>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label> Precio Inscripcion </mat-label>
        <input matInput formControlName="precio_inscripcion" required>
        <mat-error *ngIf="nuevoCursoForm.controls.precio_inscripcion.touched && nuevoCursoForm.controls.precio_inscripcion.invalid">
          <span *ngIf="nuevoCursoForm.controls.precio_inscripcion.errors">Campo obligatorio</span>
        </mat-error>
    </mat-form-field>
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label> Precio Cuota </mat-label>
        <input matInput formControlName="precio_cuota" required>
        <mat-error *ngIf="nuevoCursoForm.controls.precio_cuota.touched && nuevoCursoForm.controls.precio_cuota.invalid">
          <span *ngIf="nuevoCursoForm.controls.precio_cuota.errors">Campo obligatorio</span>
        </mat-error>
    </mat-form-field>

    <br>


    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label> Cantidad Cuotas  </mat-label>
        <input matInput formControlName="cantidad_cuotas" required>
        <mat-error *ngIf="nuevoCursoForm.controls.cantidad_cuotas.touched && nuevoCursoForm.controls.cantidad_cuotas.invalid">
          <span *ngIf="nuevoCursoForm.controls.cantidad_cuotas.errors">Campo obligatorio</span>
        </mat-error>
    </mat-form-field>
    
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    
    <mat-form-field class="form-field" appearance="outline">
      <mat-label>Elija un rubro del curso</mat-label>

      <mat-select [(value)]="selected" formControlName="subrubro">
        <mat-option [value]="subrubro" *ngFor="let subrubro of this.arraySubrubros">{{subrubro.nombre}}
        </mat-option>
      </mat-select>

    </mat-form-field>
    
    <br>
  
    <br>

    <div mat-dialog-actions>
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      <button mat-raised-button style="align-items: center;"  color="warn" mat-dialog-close>Salir</button>
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      <button mat-raised-button  style="align-items:center;"  color="primary" >Guardar</button> &nbsp;&nbsp;
      
    </div>
   
    
  
</form>

